#tuple
 - ordered collection
  -immutable
  -tuple always in parenthesis

In [ ]:
my_tuple = (10,20,30)

In [ ]:
type(my_tuple)

In [ ]:
t2 = (10,20,30,20,10,20,30,30,20,20,20,10)

In [ ]:
t2.count(20)

In [ ]:
t2.index(30) # its shows index position first occurance

In [ ]:
#use cases - gps coordinates - long, latitude
##enrollment no

# set {} -
- unordered - means you cannot access item by index
- mutable - can be add, remove or change
- duplicate values not allow

In [ ]:
s1 = {10,20,30,10,20,30,10,20,30,40,40,50,30}

In [ ]:
s1

In [ ]:
s1.add(70)

In [ ]:
s1

In [ ]:
s1.remove(40)

In [ ]:
s1

In [ ]:
s1.remove(80)

In [ ]:
s1.discard(80)  #if 80 available in set than it will remove otherwise not, we dont get any error

In [ ]:
s1

# string in python

In [ ]:
name = "rahul , tushar sir"

In [ ]:
name

In [ ]:
name.upper()

In [ ]:
name.lower()

In [ ]:
name.capitalize()

In [ ]:
name.title()

In [ ]:
"hello".find('l')

In [ ]:
name1 = "   Rahul   "

In [ ]:
name1.strip()

In [ ]:
"a, b, c, d".split(",")

# Dictionary
- unordered
- mutable
- collection of keys : values
- {keys:values}

In [ ]:
my_dict = {
    "name" : "Rahul",
    "age" : 33,
    "city" : "wardha"
}

In [ ]:
my_dict

In [ ]:
my_dict["name"]

In [ ]:
# paranthesis () - .method , function, tuple
# square braces [] - list , access the element , indexing
# { } curly braces - set, dict

In [ ]:
d = {"a":1 , "b" : 2}

In [ ]:
d["a"]

In [ ]:
d.get("a")

In [ ]:
# FOR LOOP

In [ ]:
fruits = ["apple" , "banana" , "cherry"]

In [ ]:
for i in fruits:
  print("I like", i)

In [ ]:
word = "Python"

In [ ]:
for i in word:
  print(i)

In [ ]:
for i in range(11):
  print(i)

In [ ]:
for i in range(2,11,2):
  print(i)

In [ ]:
# addition of 1 to 100

In [ ]:
total = 0
for i in range(1,101):
  total = total + i
  print(total)

In [ ]:
total = 0
for i in range(1,101):
  total = total + i

print(total)

# nested for loop - loop into loop

In [ ]:
colors = ["red" , "green"]
size = ["s", "m", "l"]

In [ ]:
for i in colors:
  for j in size:

    print(i , j)

In [ ]:
for i in range(2,4):
  print("Table for", i)
  for j in range(1,11):
    print(f"{i}*{j} = {i*j}")

# while loop

In [ ]:
i=1
while i<=5:
  print(i)
  i = i+1

In [ ]:
for i in range(1,6):
  print(i)

In [ ]:
i=1
total=0
while i <= 100:
  total = total+i
  i = i+1

print(total)

In [ ]:
# even no. between 1 to 10

i=2
while i<=10:
  print(i)
  i=i+2

In [15]:
password = ""
while password != "968574":
  password = input("enter password    :-  ")

print("Access granted...!")

enter password    :-  561651565
enter password    :-  968574
Access granted...!

#conditional statement

In [12]:
# if - else - elif

In [13]:
#check the number is positive or negative

In [14]:
num = int(input("enter the number...:-"))

if num>0:
  print("positive")

else:
  print("negative")

enter the numbe...:-54
positive

In [20]:
text ="hello"
if "l" in text:
  print("letter found")

else:
  print("not found")

letter found

In [23]:
age = int(input("enter the age:-  "))
if age >= 18:
  print("you are eligible for election")

else:
  print("not eligible")

enter the age:-  18
you are eligible for election

In [25]:
num = int(input("enter the num:-  "))
if num % 2 == 0:
  print("even no")

else:
  print("odd num")

enter the num:-  19
odd num

In [26]:
marks = int(input("enter the marks:- "))
if marks >= 90:
  print("Grade A")

elif marks >= 70:
  print("Grade B")

elif marks >= 45:
  print("Grade C")

else:
  print("Fail")

enter the marks:- 97
Grade A

In [27]:
# pass - break - continue

In [28]:
for i in range(5):
  if i == 2:
    pass

In [29]:
for i in range(1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

In [30]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [31]:
# fabonacci series - 0 1 1 2 3 5 8 13
# factorial = 4*3*2*1