In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [19]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [20]:
df['longitude']

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [21]:
df['housing_median_age'].median()

29.0

In [22]:
df[df['housing_median_age']<2]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
842,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.875,141700.0
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.625,55000.0

In [23]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [24]:
df.sort_values("housing_median_age")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
842,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.8750,141700.0
1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0
2452,-117.64,33.87,2.0,17470.0,2727.0,5964.0,1985.0,6.2308,257900.0
2429,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0
1050,-121.96,37.74,2.0,200.0,20.0,25.0,9.0,15.0001,350000.0
...,...,...,...,...,...,...,...,...,...
26,-122.42,37.76,52.0,3587.0,1030.0,2259.0,979.0,2.5403,250000.0
36,-122.53,37.97,52.0,1560.0,451.0,700.0,419.0,2.5125,270800.0
2965,-122.44,37.71,52.0,2711.0,591.0,1848.0,524.0,3.9567,251500.0
2970,-122.47,37.77,52.0,2241.0,443.0,1042.0,377.0,4.1635,398400.0
2972,-118.14,34.17,52.0,2667.0,486.0,1681.0,504.0,4.0524,173100.0

In [25]:
df.sort_values("housing_median_age").reset_index()

,index,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,842,-117.95,35.08,1.0,83.0,15.0,32.0,15.0,4.8750,141700.0
1,1115,-116.95,33.86,1.0,6.0,2.0,8.0,2.0,1.6250,55000.0
2,2452,-117.64,33.87,2.0,17470.0,2727.0,5964.0,1985.0,6.2308,257900.0
3,2429,-117.20,33.58,2.0,30450.0,5033.0,9419.0,3197.0,4.5936,174300.0
4,1050,-121.96,37.74,2.0,200.0,20.0,25.0,9.0,15.0001,350000.0
...,...,...,...,...,...,...,...,...,...,...
2995,26,-122.42,37.76,52.0,3587.0,1030.0,2259.0,979.0,2.5403,250000.0
2996,36,-122.53,37.97,52.0,1560.0,451.0,700.0,419.0,2.5125,270800.0
2997,2965,-122.44,37.71,52.0,2711.0,591.0,1848.0,524.0,3.9567,251500.0
2998,2970,-122.47,37.77,52.0,2241.0,443.0,1042.0,377.0,4.1635,398400.0
2999,2972,-118.14,34.17,52.0,2667.0,486.0,1681.0,504.0,4.0524,173100.0

In [26]:
df['new_age'] = df['housing_median_age']*2

In [27]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,54.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,86.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,54.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,56.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,38.0
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,46.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,54.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,20.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,80.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,84.0

In [28]:
df.drop('longitude', axis=1)

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,54.0
1,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,86.0
2,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,54.0
3,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,56.0
4,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,38.0
...,...,...,...,...,...,...,...,...,...
2995,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,46.0
2996,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,54.0
2997,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,20.0
2998,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,80.0
2999,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,84.0

In [29]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,54.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,86.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,54.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,56.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,38.0

In [30]:
df.drop('longitude', axis=1, inplace=True)

In [31]:
df.head()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,54.0
1,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,86.0
2,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,54.0
3,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,56.0
4,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,38.0

In [32]:
df.rename(columns={"latitude":"location"})

,location,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,54.0
1,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,86.0
2,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,54.0
3,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,56.0
4,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,38.0
...,...,...,...,...,...,...,...,...,...
2995,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,46.0
2996,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,54.0
2997,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,20.0
2998,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,80.0
2999,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,84.0

In [33]:
# null values- missing values

In [34]:
df.isnull()

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
2995,False,False,False,False,False,False,False,False,False
2996,False,False,False,False,False,False,False,False,False
2997,False,False,False,False,False,False,False,False,False
2998,False,False,False,False,False,False,False,False,False
2999,False,False,False,False,False,False,False,False,False

In [35]:
df.isnull().sum()

latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
new_age               0
dtype: int64

In [37]:
df.notnull().sum()

latitude              3000
housing_median_age    3000
total_rooms           3000
total_bedrooms        3000
population            3000
households            3000
median_income         3000
median_house_value    3000
new_age               3000
dtype: int64

In [38]:
# fill the null values

In [39]:
df.fillna(" ")

,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,new_age
0,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,54.0
1,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,86.0
2,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,54.0
3,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,56.0
4,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,38.0
...,...,...,...,...,...,...,...,...,...
2995,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,46.0
2996,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,54.0
2997,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,20.0
2998,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,80.0
2999,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,84.0

In [40]:
#delete the null values

In [41]:
df.dropna(inplace=True)

In [42]:
#aggregation

In [43]:
df['total_rooms'].sum()

np.float64(7798736.0)

In [44]:
df["total_rooms"].mean()

np.float64(2599.578666666667)

In [45]:
df['total_rooms'].median()

2106.0

In [46]:
df['total_rooms'].mode()

0     907.0
1    1778.0
2    1787.0
3    1966.0
Name: total_rooms, dtype: float64

In [47]:
df["total_rooms"].min()

6.0

In [49]:
df['total_rooms'].max()

30450.0

In [53]:
df['total_rooms'].value_counts().sort_index()

total_rooms
6.0        1
16.0       1
18.0       1
19.0       1
21.0       1
          ..
21988.0    1
23915.0    1
24121.0    1
27870.0    1
30450.0    1
Name: count, Length: 2215, dtype: int64

In [54]:
import seaborn as sns
df = sns.load_dataset("titanic")

In [55]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [56]:
df.shape

(891, 15)

In [58]:
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [59]:
df['sex'].value_counts()

sex
male      577
female    314
Name: count, dtype: int64

In [61]:
df.groupby('sex')['survived'].mean()*100

sex
female    74.203822
male      18.890815
Name: survived, dtype: float64

In [62]:
df.groupby(['sex', 'pclass'])['survived'].mean()*100

sex     pclass
female  1         96.808511
        2         92.105263
        3         50.000000
male    1         36.885246
        2         15.740741
        3         13.544669
Name: survived, dtype: float64

In [65]:
df.groupby(['sex', 'pclass'])['survived'].mean().unstack()*100

pclass          1          2          3
sex
female  96.808511  92.105263  50.000000
male    36.885246  15.740741  13.544669

In [70]:
df['age'].unique()

array([22.  , 38.  , 26.  , 35.  ,   nan, 54.  ,  2.  , 27.  , 14.  ,
        4.  , 58.  , 20.  , 39.  , 55.  , 31.  , 34.  , 15.  , 28.  ,
        8.  , 19.  , 40.  , 66.  , 42.  , 21.  , 18.  ,  3.  ,  7.  ,
       49.  , 29.  , 65.  , 28.5 ,  5.  , 11.  , 45.  , 17.  , 32.  ,
       16.  , 25.  ,  0.83, 30.  , 33.  , 23.  , 24.  , 46.  , 59.  ,
       71.  , 37.  , 47.  , 14.5 , 70.5 , 32.5 , 12.  ,  9.  , 36.5 ,
       51.  , 55.5 , 40.5 , 44.  ,  1.  , 61.  , 56.  , 50.  , 36.  ,
       45.5 , 20.5 , 62.  , 41.  , 52.  , 63.  , 23.5 ,  0.92, 43.  ,
       60.  , 10.  , 64.  , 13.  , 48.  ,  0.75, 53.  , 57.  , 80.  ,
       70.  , 24.5 ,  6.  ,  0.67, 30.5 ,  0.42, 34.5 , 74.  ])

In [71]:
df.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64